@model ErrorViewModel
@{
    ViewData["Title"] = @Translate["Error."];
}

<section id="error">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>@Translate["An error occurred while processing your request."]</h1>
                <h2 class="section-heading">@Translate["Development Mode"]</h2>

                @if (Model.ShowRequestId)
                {
                    <h3 class="section-subheading text-muted">@Translate["<strong>Request ID:</strong> <code>{0}</code>", @Model.RequestId]</h3>
                    <p>
                        @Translate["Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred."]
                    </p>
                    <p>
                        @Translate["<strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application."]
                    </p>
                }
            </div>
        </div>
    </div>
</section>
